/* ---------------------------------------------
------ MEDIA QUERIES ----------------
--------------------------------------------- */

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

    /* // .header {
    //     &__text-box {
    //         width: 100%;
    //         position: absolute;
    //         top: 60%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //         text-align: center;
    //     }
    // } */

}



/* Small tablets to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 0 1.8rem 0 1.8rem;
    }

}




/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    .main-nav {display: none;}
    
    .main-nav {
        float: left;
        margin-top: 2rem;
        margin-left: 15rem;
        /* //z-index: 999; */
        /* padding-left: 10rem; */
        /* position: absolute; */
    }

    #property .main-nav {
        margin-left: 22rem;
    }

    #property .header__logo {
        height: 8rem;
    }

    .main-nav li {
        line-height: 4rem;
    }

    .header__logo {
        height: 12rem;
    } 



    .sticky .main-nav {
        margin-top: 1rem;
        margin-left: 11rem;
    }

    .sticky .header__logo {
        /* height: 7rem; */
    }

    .sticky .mobile-nav-icon { 
        margin-top: 1rem;
        line-height: 6.5rem;
    }
    
    .sticky .mobile-nav-icon i {color: #555;}

    .mobile-nav-icon { display: inline-block;}

    /* .main-nav {
        float: left; 
    } */

     .header__nav-bar {
        /* float: left; */
        border-bottom: 0;

    } 

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
    }

    /* .sticky .header__logo {
        height: 12rem;
    } */

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

}
