
/*
$color-primary: #c69963; gold
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;;
*/






//COLORS
$color-primary: #55c57a; /*medium green*/
$color-primary-light: #7ed56f; /*Light green*/
$color-primary-dark: #28b485; /*dark green*/

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;


$color-org-green: #6b9912;
$color-org-blue: #01415c;

$color-orange: #ff7730;
$color-footer: #001d2a; 
$color-primary-blue: #03acf3;
//color: #03b4ff;
//$color-primary-blue: #4e9fc2;


//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-false: 0rem;