.footer {
    background-color: $color-grey-dark-3;
   // background-color: $color-white;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    .row {
        padding: 0 3rem;

        @include respond(tab-port) {
            max-width: 70rem;
           // padding: 0 3rem;
    }
}

    @include respond(tab-port) {
        padding: 8rem 0;
    }


    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }

    }

    &__logo {
        width: 22rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }

    }

    &__list {
        list-style: none;

    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;

            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            
            //color: $color-org-green;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);

            // transform: rotate(5deg) scale(1.3);
        }

    }

    &__socialbox {
        // border-top: 1px solid $color-grey-dark;
        text-align: center;
        padding-top: 2rem;
        // display: inline-block;
        width: 80%;
        margin-top: 2rem;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }

    }

    &__social-links {
        list-style: none;
    }

    &__social-icons {
        display: inline-block;
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icons-links {
        &:link,
        &:visited {
            font-size: 2.4rem;
            color: #888888;
            transition: color 0.2s;
        }

        &:hover,
        &:active {
            color: #dddddd;
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    }
}

#property {

    .footer {
        /*
        background-color: $color-grey-dark-3;
        background-color: #0e2332;
        background-color:#0F2027;
        background-color:#013d63;
        background-color:#142027; //I like this more
        
        background-color:#01354b;
        background-color:#01293a; 
          background-color:#001219; 
          */

       //background-color:$color-footer;
       // background-color:#142027;

       // padding: 10rem 0;
       //#0e2332;

        &__logo {
            height: 12rem;
            width: auto;
        }

        &__link {
            &:link,
            &:visited {

            }
    
            &:hover,
            &:active {
                color: $color-primary-blue;
                //color: $color-org-blue;
            }
    
        }
    }
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
    transition: color 0.2s;
}
.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-instagram:hover {
    // color: #517fa4;
    color: #bc2a8d;
}