.btn--white {
    /* text-align: center; */
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: rgb(51, 51, 51);
    font-family: "Maven Pro";
    background-color: $color-white;
    border-radius: 6rem;
    letter-spacing: .1rem;
    padding: 2.1rem 4.4rem;
}