.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {

        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;
    }
}







.btn--white {
    /* text-align: center; */
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: rgb(51, 51, 51);
    font-family: "Maven Pro";
    background-color: $color-white;
    border-radius: 6rem;
    letter-spacing: .1rem;
    padding: 2.1rem 4.4rem;
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);

    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);

    }
}

#property {

    .btn-text {
        &:link,
        &:visited {
            color: $color-org-blue;
            //color: $color-primary-blue;
           border-bottom: 1px solid $color-org-blue;
            //border-bottom: 1px solid $color-primary-blue;
        }
    
        &:hover {
           background-color: $color-org-blue;
            //background-color: $color-primary-blue;
            color: $color-white;
        }

    }

}
.btn-text-services {
    
}