body {
    font-family: "Lato", sans-serif; 
    // font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
   
}

#property {
   // font-family: 'Poppins', sans-serif;
}

.heading-primary {
    color: $color-white;
   // margin-bottom: 6rem; 

    &--main {
        display: block;
        /* font-size: 6rem; */
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.2rem;
        letter-spacing: .1rem;
        text-align: center;
        /* letter-spacing: 3.5rem; */
        margin-bottom: 4rem;

        @include respond(phone) {
            font-size: 1.4rem;
            letter-spacing: 0px;
        }
    
    }
    
    &--sub {
        display: block;
        /* font-size: 6rem; */
        font-size: 5rem;
        font-weight: 300;
        line-height: 2.2rem;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 5rem;

        @include respond(phone) {
            font-size: 3.6rem;
            //line-height: 3rem;
        }
    
        /* letter-spacing: 3.5rem; */
    }
}

.heading-secondary {
    font-size: 3.5rem;
    // text-transform: uppercase;
    font-weight: 700;

    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    // transition: all .2s;

    // &:hover {
    //     transform: skewY(2deg) skewX(15deg) scale(1.1);
    //     text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
    // }
}

#property {

    .heading-secondary {
        background-image: linear-gradient(to right, $color-primary-blue, $color-org-blue);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.block-text {
    width: 70%;
    margin: 0 auto;

    // @include respond(tab-port) {
    //     width: 60rem;
    //     //padding: 0 3rem;
    //     margin: 0 auto;
    // }

      @include respond(tab-port) {
        width: 100%;
    }

    
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

}

