.section-about {
    background-color: $color-grey-light-1;
    padding: 10rem 0;

    @include respond(tab-port) {
        padding: 5rem 0;
    }

    .row {
        @include respond(tab-port) {
            max-width: 70rem;
            padding: 0 3rem;
        }
        
    }

}

.section-features {
    // padding: 20rem 0;
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 213, 111, 0.801),
        rgba(39, 179, 132, 0.801)), 
    url(../img/hero.jpg);
   // url(../img/hero.jpg);

    // background-image: url(../img/hero.jpg);
    background-size: cover;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

    .row {
        @include respond(tab-port) {
            max-width: 50rem;
            padding: 0 3rem;
        }
    } 
}

.section-stories {
    padding: 15rem 0;
    background-color: $color-grey-light-1;
}

.section-book {
    padding: 15rem 0;
    // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-color: #f4f4f4;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg,
                                     rgba($color-white, .9) 0%,
                                     rgba($color-white, .9) 50%,
                                      transparent 50%), 
                            url(../img/nat-10.jpg);
    background-size: cover; // = background-size: 100%
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .25);

    height: 50rem;

    @include respond(tab-land) {
        background-image: linear-gradient(105deg,
                                rgba($color-white, .9) 0%,
                                rgba($color-white, .9) 65%,
                                transparent 70%), 
                        url(../img/nat-10.jpg);
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right,
                                rgba($color-white, .9) 0%,
                                rgba($color-white, .9) 100%,
                                transparent 70%), 
                        url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}