.gallery {


   
    //margin: 1rem 5rem;
   // background-color: blue;


    img {
        transition: 1s;
        padding: 1.5rem;
       // width: 20rem;
       width: 100%;
      //height: 100%;

        &:hover {
           // filter: grayscale(100%);
           // transform: scale(1.1);
        }
    }


    .imgshow {
       // height: 50vh;
    }

    .show-box-small {
        margin-top: 1.5rem !important;
    }




}

.gallery * {
    //margin: 0 !important;
}

.show-box * {
    margin: 0 !important;
}



